<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <!-- Messages: style can be found in dropdown.less -->
    <li mk-dropdown type="list" [isWrapper]="false" class="messages-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-envelope-o"></i>
          <span class="label label-success">{{ qtdeMensagens }}</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li class="header">Voce tem {{ qtdeMensagens }} messages</li>
        <li>
          <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
            <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
              <li *ngFor="let mensagem of mensagens">
                <a href="#">
                  <div class="pull-left">
                    <img src="{{ mensagem.afiliado.img }}" class="img-circle" alt="User Image">
                  </div>
                  <h4>
                    {{ mensagem.afiliado.nome }}
                    <small><i class="fa fa-clock-o"></i> {{ mensagem.dhEnvio | date:"MM/dd/yyyy 'às' h:mma" }}</small>
                  </h4>
                  <p>{{ mensagem.msg }}</p>
                </a>
              </li>
            </ul>
            <div class="slimScrollBar" style="width: 3px; position: absolute; top: 0; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div>
            <div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
          </div>
        </li>
        <li class="footer"><a href="#">Ver todas</a></li>
      </mk-dropdown-menu>
    </li>

    <li mk-dropdown type="list" [isWrapper]="false" class="messages-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-paper-plane-o"></i>
          <span class="label label-warning">{{ qtdeRecados }}</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li class="header">Você tem {{ qtdeRecados }} recados</li>
        <li>
          <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
            <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
              <li *ngFor="let recado of recados">
                <a href="#">
                  <div class="pull-left">
                    01
                  </div>
                  <h4>
                    {{ recado.cliente.nome }}
                    <small><i class="fa fa-clock-o"></i> {{ recado.dhEnvio | date:"MM/dd/yyyy 'às' h:mma" }}</small>
                  </h4>
                  <p>{{ recado.msg }}</p>
                </a>
              </li>
            </ul>
            <div class="slimScrollBar" style="width: 3px; position: absolute; top: 0; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);">
            </div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
          </div>
        </li>
        <li class="footer"><a href="#">Ver todas</a></li>
      </mk-dropdown-menu>
    </li>

    <li mk-dropdown type="list" [isWrapper]="false" class="notifications-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-bell-o"></i>
          <span class="label label-danger">{{ qtdeAvisos }}</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li class="header">Você tem {{ qtdeAvisos }} avisos</li>
        <li>
          <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
            <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
              <li *ngFor="let resumo of avisoResumos">
                <a href="#">
                  <i class="fa {{ resumo.tpoClass }}"></i> {{ resumo.qtde }} {{ resumo.msg }}
                </a>
              </li>
            </ul>
            <div class="slimScrollBar" style="width: 3px; position: absolute; top: 0; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div>
            <div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
          </div>
        </li>
        <li class="footer"><a href="#">Ver todos</a></li>
      </mk-dropdown-menu>
    </li>

    <li mk-dropdown type="list" [isWrapper]="false" class="user user-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <img src="assets/img/user.png" class="user-image" alt="User Image">
          <span class="hidden-xs">Nome Usuário</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <div class="box box-widget widget-user" style="margin-bottom: 0px;">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-aqua-active">
            <h3 class="widget-user-username">Nome Usuário</h3>
            <h5 class="widget-user-desc"> Promoter Start 
              <span class="pull-right">
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star-o text-yellow"></i>
                <i class="fa fa-star-o text-yellow"></i>
              </span>
            </h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user.png" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">1.600</h5>
                  <span class="description-text">Disponível</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">800</h5>
                  <span class="description-text">Visitas</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header">100</h5>
                  <span class="description-text">Afiliados</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <li class="user-footer">
          <div class="pull-left">
            <a routerLink="/login/auth" class="btn btn-default btn-flat">Portfólio</a>
          </div>
          <div class="pull-right">
            <a routerLink="/login/auth" class="btn btn-default btn-flat">Sair</a>
          </div>
        </li>
      </mk-dropdown-menu>
    </li>
  </ul>
</div>
