<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <span class="divulplace-brand"></span>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Registrar novo membro</p>

            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group has-feedback" [ngClass]="verificarErroCss('nome')">
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" id="inputNome" placeholder="Nome" formControlName="nome">
                    </div>
                    <app-form-feedback [control]="formulario.get('nome')" label="Nome"></app-form-feedback>
                </div>
                <div class="form-group has-feedback" [ngClass]="verificarErroCss('email')">
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" formControlName="email">
                    </div>
                    <app-form-feedback [control]="formulario.get('email')" label="E-mail"></app-form-feedback>
                </div>
                <div class="form-group has-feedback" [ngClass]="verificarErroCss('senha')">
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="inputSenha" placeholder="Senha" formControlName="senha">
                    </div>
                    <app-form-feedback [control]="formulario.get('senha')" label="Senha"></app-form-feedback>
                </div>
                <div class="form-group has-feedback" [ngClass]="verificarErroCss('repitaSenha')">
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="inputConfirmaSenha" placeholder="Repita Senha" formControlName="repitaSenha">
                    </div>
                    <app-form-feedback [control]="formulario.get('repitaSenha')" label="Repita Senha"></app-form-feedback>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false"
                                    style="position: relative;"><input type="checkbox"
                                        style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"><ins
                                        class="iCheck-helper"
                                        style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"></ins>
                                </div> Concordo com os <a href="#">termos de uso</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a routerLink="/login" class="text-center">Já possuo cadastro</a>
        </div>
        <!-- /.form-box -->
    </div>
</div>