<div class="row">
    <div class="col-md-12 col-xs-12">
        <mk-box header="Dados Pessoais" boxColor="info" [isCollapsable]="false" [isRemovable]="false">
            <app-dados-pessoais></app-dados-pessoais>
        </mk-box>
    </div>
    <div class="col-md-6 col-xs-12">
        <mk-box header="Endereço" boxColor="info" [isCollapsable]="false" [isRemovable]="false">
            
        </mk-box>
    </div>
    <div class="col-md-6 col-xs-12">
        <mk-box header="Contatos" boxColor="info" [isCollapsable]="false" [isRemovable]="false">
            
        </mk-box>
    </div>
</div>