<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small backgroundColor="aqua" iconStyleClass="fa fa-comments-o">
            <mk-box-small-header><sup style="font-size: 20px">R$</sup> 350</mk-box-small-header>
            <mk-box-small-content>Valor Comissões</mk-box-small-content>
        </mk-box-small>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small backgroundColor="aqua" iconStyleClass="fa fa-gift">
            <mk-box-small-header><sup style="font-size: 20px">R$</sup> 150</mk-box-small-header>
            <mk-box-small-content> Valor Bônus </mk-box-small-content>
        </mk-box-small>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small backgroundColor="light-blue" iconStyleClass="fa fa-shopping-cart">
            <mk-box-small-header><sup style="font-size: 20px">R$</sup> 500</mk-box-small-header>
            <mk-box-small-content>Valor Total</mk-box-small-content>
        </mk-box-small>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small backgroundColor="green" iconStyleClass="fa fa-check">
            <mk-box-small-header><sup style="font-size: 20px">R$</sup> 1.600</mk-box-small-header>
            <mk-box-small-content>Valor Disponível</mk-box-small-content>
        </mk-box-small>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <mk-box header="Gráfico de Ganhos Semestrais" [isCollapsable]="false" [isRemovable]="false">

        </mk-box>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small header="30" backgroundColor="aqua" iconStyleClass="fa fa-user">
            Afiliados de 1ºGrau
        </mk-box-small>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small header="350" backgroundColor="aqua" iconStyleClass="fa fa fa-users">
            Demais Afiliados
        </mk-box-small>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <!-- Apply any bg-* class to to the info-box to color it -->
        <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-anchor"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Pontos</span>
                <span class="info-box-number">420</span>
                <!-- The progress section is optional -->
                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                    Promoter Start
					<span class="pull-right">
						<i class="fa fa-star text-yellow"></i>
						<i class="fa fa-star text-yellow"></i>
						<i class="fa fa-star text-yellow"></i>
						<i class="fa fa-star-o text-yellow"></i>
						<i class="fa fa-star-o text-yellow"></i>
					</span>
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <mk-box boxColor="info" [isCollapsable]="false" [isRemovable]="false">
            <mk-box-header>Afiliados</mk-box-header>
            <mk-box-tools></mk-box-tools>
            <mk-box-content>HTML Box content</mk-box-content>
            <mk-box-footer>HTML Box footer</mk-box-footer>
        </mk-box>
    </div>
    <div class="col-md-4">
        <mk-box header="Solicitações" boxColor="success" [isCollapsable]="false" [isRemovable]="false">
            
        </mk-box>
    </div>
</div>