<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    <div class="modal-header">
        <h4 class="modal-title pull-left">Empresa</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6">
                        <img class="img-responsive" src="assets/img/250x250.png">
                        <br/>
                    </div>
                    <div class="col-xs-3">
                        <img class="img-responsive" src="assets/img/250x250.png">
                        <br/>
                    </div>
                    <div class="col-xs-3">
                        <img class="img-responsive" src="assets/img/250x250.png">
                        <br/>
                    </div>
                    <div class="col-xs-3">
                        <img class="img-responsive" src="assets/img/250x250.png">
                        <br/>
                    </div>
                    <div class="col-xs-3">
                        <img class="img-responsive" src="assets/img/250x250.png">
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn btn-default btn-file">
                        <i class="fa fa-picture-o"></i> Adicionar Imagens
                        <input type="file" name="attachment">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group" [ngClass]="verificarErroCss('nomeEmpresa')">
                    <label for="inputMyEmpresa" class="col-sm-2 control-label">Empresa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputMyEmpresa" placeholder="Nome da Empresa" formControlName="nomeEmpresa">
                        <app-form-feedback [control]="formulario.get('nomeEmpresa')" label="Nome da Empresa"></app-form-feedback>
                    </div>
                </div>
                <div class="form-group" [ngClass]="verificarErroCss('cnpj')">
                    <label for="inputCNPJ" class="col-sm-2 control-label">CNPJ</label>
                    <div class="col-sm-5">
                        <input id="inputCNPJ" type="text" class="form-control" mask="00.000.000/0000-00" placeholder="__.___.___/____-__" formControlName="cnpj">
                        <app-form-feedback [control]="formulario.get('cnpj')" label="CNPJ"></app-form-feedback>
                    </div>
                </div>
                <div class="form-group" [ngClass]="verificarErroCss('descricao')">
                    <label for="textDescricaoEmpresa" class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-8">
                        <textarea id="textDescricaoEmpresa" class="form-control" rows="3" placeholder="Descrição da Empresa ..." formControlName="descricao"></textarea>
                        <app-form-feedback [control]="formulario.get('descricao')" label="Descrição da Empresa"></app-form-feedback>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="form-group">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" title="Endereço/Contatos" (click)="openModal(tpltEndereco)">
                        <i class="fa fa-map-marker"></i> Endereço / Contatos
                    </button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group" [ngClass]="verificarErroCss('ramo')">
                    <label for="inputRamoEmpresa" class="col-sm-2 control-label" title="Ex.: perfumaria, joaleiria, chocolates, etc..." >Ramo</label>
                    <div class="col-sm-8">
                        <input id="inputRamoEmpresa" class="form-control" type="text" placeholder="Ramo das atividades..." formControlName="ramo">
                        <app-form-feedback [control]="formulario.get('ramo')" label="Ramo das atividades"></app-form-feedback>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLink" class="col-sm-2 control-label">Link</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputLink" placeholder="Link Principal de Divulgação">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="modal.hide()">Fechar</button>
        <button type="submit" class="btn btn-primary" >Adicionar</button>
    </div>
</form>

<ng-template #tpltEndereco>
    <app-empresa-contato [modal]="modalEndereco"></app-empresa-contato>
</ng-template>