<div class="row">
    <div class="col-md-4">
        <mk-box boxColor="success" [isCollapsable]="false" [isRemovable]="false">
            <mk-box-header>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a href="#" class="btn btn-success btn-flat btn-contatos" alt="Contatos" title="Contatos"
                            data-widget="collapse">
                            <i class="fa fa-group"></i>
                        </a>
                    </span>
                    <input type="text" name="q" class="form-control" placeholder="Procurar...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-primary btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </mk-box-header>
            <mk-box-content>HTML Box content</mk-box-content>
        </mk-box>
    </div>
    <div class="col-md-8">
        <mk-box boxColor="success" [isCollapsable]="false" [isRemovable]="false">
            <mk-box-header>Mensagens</mk-box-header>
            <mk-box-content>HTML Box content</mk-box-content>
            <mk-box-footer>
                <div class="input-group">
                    <input type="text" name="message" placeholder="Digite a Mensagem ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Enviar</button>
                    </span>
                </div>
            </mk-box-footer>
        </mk-box>
    </div>
</div>