<div class="row">
    <div class="col-md-4">
        <mk-box boxColor="success" [isCollapsable]="false" [isRemovable]="false">
            <mk-box-header>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a href="#" class="btn btn-success btn-flat btn-listar" alt="Contatos" title="Contatos"
                            data-widget="collapse">
                            <i class="fa fa-group"></i>
                        </a>
                    </span>
                    <input type="text" name="q" class="form-control" placeholder="Procurar...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-primary btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </mk-box-header>
            <mk-box-content class="box-chat">
                <div class="direct-chat-messages">
                    <ng-template ngFor let-afiliado [ngForOf]="afiliados">
                        <div class="post no-padding">
                            <div class="user-block">
                                <img class="img-circle" src="{{ afiliado.img }}" alt="User Image">
                                <div *ngIf="afiliado.qtde > 0" class="pull-right">
                                    <span data-toggle="tooltip" title="" class="badge bg-green" data-original-title="New Messages">{{ afiliado.qtde }}</span>
                                </div>
                                <span class="username"><a [routerLink]="['/correspondencia/mensagem', afiliado.id]">{{ afiliado.nome }}</a></span>
                                <span class="description">{{ afiliado.nivel }}</span>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </mk-box-content>
        </mk-box>
    </div>
    <div class="col-md-8">
        <mk-box boxColor="success" [isCollapsable]="false" [isRemovable]="false">
            <mk-box-header>Mensagens</mk-box-header>
            <mk-box-content class="box-chat direct-chat-primary">
                <div class="direct-chat-messages">
                        <ng-template ngFor let-mensagem [ngForOf]="mensagens">
                            <div class="direct-chat-msg" [class.right]="mensagem.afiliado.id == 0" >
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-left">{{ mensagem.afiliado.nome }}</span>
                                    <span class="direct-chat-timestamp pull-right">{{ mensagem?.dhEnvio | date:"dd MMM h:mma" }}</span>
                                </div>
                                <img class="direct-chat-img" src="{{ mensagem.afiliado.img }}" alt="Message User Image">
                                <div class="direct-chat-text">
                                    {{ mensagem.msg }}
                                </div>
                            </div>
                        </ng-template>
                    </div>
            </mk-box-content>
            <mk-box-footer>
                <div class="input-group">
                    <input type="text" name="message" placeholder="Digite a Mensagem ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Enviar</button>
                    </span>
                </div>
            </mk-box-footer>
        </mk-box>
    </div>
</div>