<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <span class="divulplace-brand"></span>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Login</p>

            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group has-feedback" [ngClass]="verificarErroCss('username')">
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" formControlName="username">
                    </div>
                    <app-form-feedback [control]="formulario.get('username')" label="E-mail"></app-form-feedback>
                </div>
                <div class="form-group has-feedback" [ngClass]="verificarErroCss('password')">
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="inputSenha" placeholder="Senha" formControlName="password">
                    </div>
                    <app-form-feedback [control]="formulario.get('password')" label="Senha"></app-form-feedback>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false"
                                    style="position: relative;"><input type="checkbox"
                                        style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"><ins
                                        class="iCheck-helper"
                                        style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"></ins>
                                </div> Lembrar senha
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="#">Esqueci minha senha</a><br>
            <a routerLink="/register" class="text-center">Registrar como novo membro</a>

        </div>
        <!-- /.login-box-body -->
    </div>
</div>