<div class="row">
    <div class="col-md-12 col-xs-12">
        <app-pessoal-info></app-pessoal-info>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <app-consultor></app-consultor>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <app-produto></app-produto>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <app-diversos></app-diversos>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <app-empresa></app-empresa>
    </div>
</div>