<div class="row">
    <div class="col-md-12 col-xs-12">
        <mk-box header="Titular da Conta" boxColor="info" [isCollapsable]="false" [isRemovable]="false">
            
            <mk-box-footer>
                <small class="text-yellow pull-right">
                    <i class="fa fa-exclamation-triangle"></i> Informações do titular devem ser a mesma do Perfil.
                </small>
            </mk-box-footer>
        </mk-box>
    </div>
    <div class="col-md-12 col-xs-12">
        <mk-box header="Dados das Contas Bancárias" boxColor="info" [isCollapsable]="false" [isRemovable]="false">
        
            <mk-box-footer>
                <small class="text-yellow pull-right">
                    <i class="fa fa-exclamation-triangle"></i> Informações da conta devem estar em nome do titular do Perfil.
                </small>
            </mk-box-footer>
        </mk-box>
    </div>
    <div class="col-md-12 col-xs-12">
        <mk-box header="Cadastrar Nova Conta Bancária" boxColor="info" [isCollapsable]="false" [isRemovable]="false">
    
            <mk-box-footer>
                <small class="text-yellow pull-right">
                    <i class="fa fa-exclamation-triangle"></i> A conta poderá ser usada depois de ser validada.
                </small>
            </mk-box-footer>
        </mk-box>
    </div>
</div>