<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    <div class="modal-header">
        <h4 class="modal-title pull-left">Serviço</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="form-group">
                    <div class="col-xs-12">
                        <img class="img-responsive" src="{{ noImages[0] }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-1" style="padding-right: 0px;">
                            <button type="button" class="close pull-right" aria-label="Anterior" style="padding-top: 10px;">
                                <i class="fa fa-chevron-left"></i>
                            </button>
                        </div>
                        <div class="col-xs-3" *ngFor="let assetImage of noImages; index as indImage">
                            <img class="img-responsive" src="{{ assetImage }}">
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="close pull-right" aria-label="Próximo" style="padding-top: 10px;">
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn btn-default btn-file" *ngIf="icImagem == false">
                        <i class="fa fa-picture-o"></i> Adicionar Imagens
                        <input type="file" name="attachment" (change)="onImageChange($event)" multiple>
                    </div>
                    <div *ngIf="icImagem == true">
                        <button type="button" class="btn btn-warning" title="Modificar Imagens" (click)="openModal(tpltImagem)">Modificar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group" [ngClass]="verificarErroCss('nomeEmpresa')">
                    <label for="inputEmpresa" class="col-sm-2 control-label">Empresa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmpresa" placeholder="Nome da Empresa" formControlName="nomeEmpresa">
                        <app-form-feedback [control]="formulario.get('nomeEmpresa')" label="Nome da Empresa"></app-form-feedback>
                    </div>
                </div>
                <div class="form-group" [ngClass]="verificarErroCss('descricao')">
                    <label for="textDescricao" class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-8">
                        <textarea id="textDescricao" class="form-control" rows="3" placeholder="Descrição da Empresa ..." formControlName="descricao"></textarea>
                        <app-form-feedback [control]="formulario.get('descricao')" label="Descrição da Empresa"></app-form-feedback>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputId" class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputId" placeholder="Identificação na Empresa (caso tenha)" formControlName="identificacao">
                    </div>
                </div>
                
                <div class="form-group" [ngClass]="verificarErroCss('ramo')">
                    <label for="inputRamo" class="col-sm-2 control-label" title="Ex.: perfumaria, joaleiria, chocolates, etc...">Ramo</label>
                    <div class="col-sm-8">
                        <!-- <textarea id="textRamo" class="form-control" rows="3" placeholder="Ramo das atividades ..."></textarea> -->
                        <input id="inputRamo" class="form-control" type="text" placeholder="Ramo das atividades..." formControlName="ramo">
                        <app-form-feedback [control]="formulario.get('ramo')" label="Ramo das atividades"></app-form-feedback>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLink" class="col-sm-2 control-label">Link</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputLink" placeholder="Link Principal de Divulgação" formControlName="urlEmpresa">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 text-center">
                <div class="form-group">
                    <div class="btn btn-default btn-file" (click)="openModal(tpltVideo)">
                        <i class="fa fa-youtube-play"></i> Apontar Vídeo
                    </div>
                </div>
                <div class="form-group" *ngIf="formulario.value.urlVideo">
                    <div class="col-md-12">
                        <iframe width="330" height="200" [src]="srcVideo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="modal.hide()">Fechar</button>
        <button type="submit" class="btn btn-primary" >{{btnModal}}</button>
    </div>
</form>

<ng-template #tpltImagem>
    <app-image-crud [modal]="modalInterno" [imagens]="files" [urlImagens]="noImages" 
        (fileEvent)="updateFiles($event)" (urlEvent)="updateUrlImagens($event)"></app-image-crud>
</ng-template>

<ng-template #tpltVideo>
    <app-consultor-video [modal]="modalInterno" [urlVideo]="formulario.get('urlVideo').value" (urlVideoEvent)="updateUrlVideo($event)"></app-consultor-video>
</ng-template>