<div class="row">
    <div class="col-md-8">
        <mk-box boxColor="info" [isCollapsable]="false" [isRemovable]="false">
            <mk-box-header>Cursos</mk-box-header>
            <mk-box-tools>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" placeholder="Procurar vídeos">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </mk-box-tools>
            <mk-box-content>HTML Box content</mk-box-content>
            <mk-box-footer>HTML Box footer</mk-box-footer>
        </mk-box>
    </div>
    <div class="col-md-4">
        <mk-box header="Propagandas" boxColor="default" [isCollapsable]="false" [isRemovable]="false">
            
        </mk-box>
    </div>
</div>