<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small backgroundColor="aqua" iconStyleClass="fa fa-comments-o">
            <mk-box-small-header><sup style="font-size: 20px">R$</sup> 350</mk-box-small-header>
            <mk-box-small-content>Valor Comissões</mk-box-small-content>
        </mk-box-small>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small backgroundColor="aqua" iconStyleClass="fa fa-gift">
            <mk-box-small-header><sup style="font-size: 20px">R$</sup> 150</mk-box-small-header>
            <mk-box-small-content> Valor Bônus </mk-box-small-content>
        </mk-box-small>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small backgroundColor="light-blue" iconStyleClass="fa fa-shopping-cart">
            <mk-box-small-header><sup style="font-size: 20px">R$</sup> 500</mk-box-small-header>
            <mk-box-small-content>Valor Total</mk-box-small-content>
        </mk-box-small>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <mk-box-small backgroundColor="green" iconStyleClass="fa fa-check">
            <mk-box-small-header><sup style="font-size: 20px">R$</sup> 1.600</mk-box-small-header>
            <mk-box-small-content>Valor Disponível</mk-box-small-content>
        </mk-box-small>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <mk-box header="Gráfico de Ganhos Semestrais" [isCollapsable]="false" [isRemovable]="false">
            
        </mk-box>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <mk-box header="Pagamento" boxColor="info" [isCollapsable]="false" [isRemovable]="false">
                
                </mk-box>
            </div>
            <div class="col-md-6">
                <mk-box header="Modelo de Cartão" boxColor="primary" [isCollapsable]="false" [isRemovable]="false">
                
                </mk-box>
            </div>
        </div>
        <mk-box header="Vídeos Sugeridos" boxColor="warning" [isCollapsable]="false" [isRemovable]="false">
        
        </mk-box>
    </div>
    <div class="col-md-4">
        <mk-box header="Atividades Recentes" [isCollapsable]="false" [isRemovable]="false">

        </mk-box>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <mk-box header="Últimas mensagens" boxColor="success" [isCollapsable]="false" [isRemovable]="false">
            
        </mk-box>
    </div>
    <div class="col-md-4">
        <mk-box header="Últimos Recados" boxColor="warning" [isCollapsable]="false" [isRemovable]="false">
        
        </mk-box>
    </div>
    <div class="col-md-4">
        <mk-box header="Últimos Avisos" boxColor="danger" [isCollapsable]="false" [isRemovable]="false">
    
        </mk-box>
    </div>
</div>