<div class="row">
      <div class="col-md-8">
            <div *ngFor="let novidade of novidades" class="box box-widget">
                  <div class="box-header with-border">
                        <div class="user-block">
                              <img class="img-circle" src="{{ novidade.usuario.img }}" alt="User Image">
                              <span class="description pull-right">{{ novidade.dhInfo | date:"dd MMM yyyy hh:mm a" }}</span>
                              <span class="username"><a href="#">{{ novidade.usuario.nome }}</a></span>
                              <span class="description">{{ novidade.usuario.nivel }}</span>
                        </div>
                  </div>
                  <div class="box-body">
                        <p>{{ novidade.info }}</p>
                        <dl class="dl-horizontal">
                              <ng-template ngFor let-modificacao [ngForOf]="novidade.modificacoes">
                                    <dt>{{ modificacao.titulo }}</dt>
                                    <dd *ngFor="let descricao of modificacao.descricoes">{{ descricao.acao }}</dd>
                              </ng-template>
                        </dl>
                        <div *ngFor="let inclusao of novidade.inclusoes" class="attachment-block clearfix">
                              <img class="attachment-img" src="{{ inclusao.img }}" alt="Product Image">
                              <div class="attachment-pushed">
                                    <h4 class="attachment-heading"><a href="http://www.lipsum.com/">{{ inclusao.titulo }}</a></h4>
                                    <div class="attachment-text">
                                          {{ inclusao.descricao }} 
                                          <a href="#">mais</a>
                                    </div>
                              </div>
                        </div>
                        <span class="pull-right text-muted">{{ novidade.qtdeViews }} visualizações</span>
                  </div>
            </div>
      </div>
      
      <div class="col-md-4">
            <mk-box header="Propagandas" boxColor="default" [isCollapsable]="false" [isRemovable]="false">

            </mk-box>
      </div>
</div>