<div class="row">
      <div class="col-md-8">
            <div class="box box-widget">
                  <div class="box-header with-border">
                        <div class="user-block">
                              <img class="img-circle" src="../../assets/img/user.png" alt="User Image">
                              <span class="description pull-right">23 Jan 7:30 PM Hoje</span>
                              <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                              <span class="description">Promoter Gold</span>
                        </div>
                  </div>
                  <div class="box-body">
                        <p>Far far away, behind the word mountains, far from the
                        countries Vokalia and Consonantia, there live the blind
                        texts. Separated they live in Bookmarksgrove right at</p>
                        <dl class="dl-horizontal">
                              <dt>Description lists</dt>
                                    <dd>A description list is perfect for defining terms.</dd>
                              <dt>Euismod</dt>
                                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                        </dl>
                        <span class="pull-right text-muted">45 visualizações</span>
                  </div>
            </div>
      </div>
      
      <div class="col-md-4">
            <mk-box header="Propagandas" boxColor="default" [isCollapsable]="false" [isRemovable]="false">

            </mk-box>
      </div>
</div>